<div class="centered-content">
    <div class="modal-box has-background-grey-lighter">
        <h1 class="title"> New Event <button routerLink="/" class="delete is-large" aria-label="close" style="margin-left: 250px;"> </button> </h1>
        <div class="field is-grouped">
            <p class="control is-expanded">
                <input #EventInput class="input" type="text" placeholder="Create a new Event">
            </p>
            <p class="control">
                <a class="button is-primary" (click)="createList(EventInput.value)"> Create </a>
            </p>
        </div>
    </div>
    <!-- <div class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">New Event</p>
                <button class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <p>You can create a new event by simply typing the name of the event and clicking on the submit button</p>
                <input class="input" type="text" placeholder="New Event">
            </section>
            <footer class="modal-card-foot">
                <button class="button is-success">Submit</button>
                <button class="button">Cancel</button>
            </footer>
        </div>
    </div> -->
</div>